<!-- templates/admin/contact_submission_changelist.html -->

{% extends "admin/change_list.html" %}

{% block content %}
{{ block.super }}
    <div class="content">
        <h2>Contact Submissions</h2>
        <canvas id="hourlyChart" width="400" height="200"></canvas>
        <canvas id="dailyChart" width="400" height="200"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Hourly chart
            var ctxHourly = document.getElementById('hourlyChart').getContext('2d');
            var chartDataHourly = {{ chart_data_hour|safe }};
            var labelsHourly = chartDataHourly.map(data => new Date(data.hour).toLocaleTimeString('en-US', {hour: 'numeric', hour12: true}));
            var dataHourly = chartDataHourly.map(data => data.count);

            new Chart(ctxHourly, {
                type: 'bar',
                data: {
                    labels: labelsHourly,
                    datasets: [{
                        label: 'Submissions per Hour',
                        data: dataHourly,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            // Daily chart
            var ctxDaily = document.getElementById('dailyChart').getContext('2d');
            var chartDataDaily = {{ chart_data_day|safe }};
            var labelsDaily = chartDataDaily.map(data => new Date(data.day).toLocaleDateString('en-US'));
            var dataDaily = chartDataDaily.map(data => data.count);

            new Chart(ctxDaily, {
                type: 'bar',
                data: {
                    labels: labelsDaily,
                    datasets: [{
                        label: 'Submissions per Day',
                        data: dataDaily,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>

  
{% endblock %}
